<div class="danger">
    <p><b> THE TEAM</b></p>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
    <div class="col mb-3">
      <div class="card">
        <i class='fas fa-user-circle' style='font-size:66px'></i>
        <div class="card-body">
            <h1 style="font-size: 30px;">Ankesh L</h1>
            <p class="title">A4 Analyst</p>
            <p>Capgemini</p>
            <p>ankesh@gmail.com</p>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <p><a href="https://wa.me/917559282112"><button >Contact</button></a></p>
        </div>
      </div>
    </div>
    <div class="col mb-3">
      <div class="card">
        <i class='fas fa-user-circle' style='font-size:66px'></i>
        <div class="card-body">
            <h1 style="font-size: 30px;">Harimohan R</h1>
            <p class="title">A4 Analyst</p>
            <p>Capgemini</p>
            <p>harimohan@gmail.com</p>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <p><a href="https://wa.me/918978968730"><button >Contact</button></a></p>
        </div>
      </div>
    </div>
    <div class="col mb-3">
      <div class="card">
        <i class='fas fa-user-circle' style='font-size:66px'></i>
        <div class="card-body">
            <h1 style="font-size: 30px;">Lokesh K</h1>
            <p class="title">A4 Analyst</p>
            <p>Capgemini</p>
            <p>lokesh@gmail.com</p>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <p><a href="https://wa.me/918125245127"><button >Contact</button></a></p>
        </div>
      </div>
    </div>
    <div class="col mb-3">
      <div class="card">
        <i class='fas fa-user-circle' style='font-size:66px'></i>
        <div class="card-body">
            <h1 style="font-size: 30px;">Silpa Y</h1>
            <p class="title">A4 Analyst</p>
            <p>Capgemini</p>
            <p>silpa@gmail.com</p>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <p><a href="https://wa.me/919908476366"><button >Contact</button></a></p>
        </div>
      </div>
    </div>
    <div class="col mb-3">
      <div class="card">
        <i class='fas fa-user-circle' style='font-size:66px'></i>
        <div class="card-body">
            <h1 style="font-size: 30px;">Susmitha U</h1>
            <p class="title">A4 Analyst</p>
            <p>Capgemini</p>
            <p>susmitha@gmail.com</p>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <p><a href="https://wa.me/918301026647"><button >Contact</button></a></p>
        </div>
      </div>
    </div>  
  </div>