<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title">About Us</h2>
                    <p class="aboutus-text">This application has two kinds of users: drivers and a customers. These
                        users and their activities are being moniored by the Admin of the application. </p>
                    <p class="aboutus-text">The customer can register and login to the application to book the trips
                        with city rides. The customer can also have a look at the list of trips he makes. Updation of
                        customer details can also be done. The driver can register himself along with his cab details
                        and login to the application to keeptrack of trips he has made. Also he can update his details
                        or cab details.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus-banner">
                    <img src="http://themeinnovation.com/demo2/html/build-up/img/home1/about1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="feature">
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h4>Reliable services</h4>
                                <p>On time! It is our responsibility as the largest mobility platform in the world to
                                    more aggressively tackle the challenge of climate change. We will do this by
                                    offering riders more ways to ride green!</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>

                            <div class="feature-content">
                                <h4>Reasonable rates</h4>
                                <p>We make sure that our customers can book their cab trips at really reasonable rates.
                                    We always introduce the best offers and deals to make sure that they travel at the
                                    lowest cost with us.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h4>Safety</h4>
                                <p>Whether you’re in the back seat or behind the wheel, your safety is essential. We are
                                    committed to doing our part, and technology is at the heart of our approach!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>